.btn_new{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.nav_btn_new{
    margin-bottom: 1%;
    margin-left: 1%;
    line-height: 55px;
    bottom: 10%;
    right: 10%;
    position: fixed;

}
.options_btn_new > div{
    z-index: 10;
    transition: allb450ms linear;
}
.check_btn_new, .openButtom_btn_new, .options_btn_new > div{
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #18e77b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.div_btn_new i{
    color: #041119;
    font-size: 24px;
}
.openButtom_btn_new{
    transform: rotate(0deg);
    transition: transform 450ms ease;
    z-index: 20;
    background-color: #18e77b;
}
.check_btn_new{
    opacity: 0;
    z-index: 30;
}
.check_btn_new:checked ~ .openButtom_btn_new ~ .options_btn_new > div:first-child{
    margin-top: -180px;
}
.check_btn_new:checked ~ .openButtom_btn_new ~ .options_btn_new > div:nth-child(even){
    margin-top: -120px;
}
.check_btn_new:checked ~ .openButtom_btn_new ~ .options_btn_new > div:last-child{
    margin-top: -60px;
}
.check_btn_new:checked ~ .openButtom_btn_new{
    transform: rotate(180deg);
}